- if user_signed_in?
  = form_for(:commentForm, :url => {:controller => "comments"}) do |f|
    = f.hidden_field(:movie_id, value: movie_id)
    = f.hidden_field(:user_id, value: current_user.id)
    = f.hidden_field(:user_name, value: current_user.name)
    = f.text_area(:content, class: 'form-control v-resize')
    = submit_tag("Save", class: 'btn btn-default navbar-btn')
